services:
  frontend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: toronto_luxury_app
    ports:
      - "3000:80"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge